*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.mini_tela{
    display: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    background-color: #e7a06a;
    border: 1px solid black;
    border-radius: 5px;
}
.numero{
    width: 80px;
    padding: 0px;
    margin: 3px;
    background-color: rgb(159, 197, 230);
    border: 1px solid black;
    border-radius: 5px;
}
h1{
    
}